annotated-types
anyio
bcrypt
blinker
certifi
charset-normalizer
click
colorama
distro
dnspython
exceptiongroup
feedparser
filelock
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
fsspec
h11
httpcore
httpx
huggingface-hub
idna
itsdangerous
Jinja2
jiter
keyboard
MarkupSafe
more-itertools
mpmath
networkx
numpy
openai
packaging
pandas
pick
pillow
praw
prawcore
pydantic
pydantic_core
PyJWT
pymongo
python-dateutil
pytz
PyYAML
regex
requests
safetensors
sgmllib3k
six
sniffio
sympy
tokenizers
torch==2.6.0
torchvision==0.17.0
torchaudio==2.6.0
tqdm>=4.65.0
transformers
typing_extensions
tzdata
update-checker
urllib3
websocket-client
Werkzeug
